body{
    font-family: 'Ceviche One', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
#Haed{
    display: flex;
    background-image: url(images/png-5.png);
    background-repeat: no-repeat;
    background-size: 40%;
    margin-bottom: 10%;
}
.header-part{
    width: 50%;
    padding-left: 5%;
}
.color{
    color: maroon;
}
.button{
    padding: 10px;
    color: cornsilk;
    text-decoration: none;
    background-image: linear-gradient(orange,maroon);
    border-radius: 10px;
    
}
h1{
    font-size: 45px;
}
.header-part img{
    width: 100%;
    height: 100%;
}
#Second{
    display: flex;
    background-image: url(images/png-2.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 1080px;
}
#Second-part img{
    width: 100%;
    height: 100%;
    
}
#Bold{
    color: darkorange;
}
.Third{
    background-image: url(
        images/png-3.png
    );
    background-size: 30%;
    background-position: -180px;
    background-repeat: no-repeat;
    padding: 10%;
}
.course{
    display: flex;
    
    
}
.course h3{
    color: crimson;
}
.course div{
    box-shadow: 10px 5px 25px paleturquoise;
    height: 80%;
    margin: 20px;
}
#b-course{
    border-left: 10px solid;
    border-image: linear-gradient( 180deg,
        red,gold
    );
    border-image-slice: 1;
    padding: 10px;
}
#a-course{
    border-left: 10px solid;
    border-image: linear-gradient( 180deg,navy,cyan
    );
    border-image-slice: 1;
    padding: 10px;
}